@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family:'Varela Round', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app, body{
  height: 100%;
}

.ant-layout-header {
  background-color: transparent !important;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex:1 1 100%;
  margin-bottom: 0px !important;
}

.ant-layout-sider-children {
  padding-top: 30px !important;
}

.ant-layout-sider {
  background-color: #fff !important;
}

#root {
  height: 100%;
}